@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', Georgia, serif;
}

h1,h2,h3,h4,h5,p,span,label {
    color: $Text-Color;
}

.example-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f4f5f9;

    & h1 {
        font-weight: 700;
        font-size: 56px;
    }

    @media (max-width: 900px) {
        & h1 {
            font-size: 40px;
        }
    }

    @media (max-width: 500px) {
        & h1 {
            font-size: 20px;
        }
    }
}